header{ 
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;   
    padding: 0; 
    .navbar{
        padding: .5rem .2rem;
        #logo{
                text-shadow: 5px 5px 5px darken($indigo,10%);
        }
    }
    @include media-breakpoint-up(lg) {
        padding: 3em 3em;     
        .navbar{
            padding: .5rem 1rem;
        }   
    }
    .download_btn{
        border-radius: 20px;
        // color: $gray-500;
    }

}

/* stcicky header */

.header_sec.sticky {
    // background-color:$gray-900;   
    background-color: $gray-900; 
    position: fixed;    
    padding: 0;
}
